*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1172px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    background-color: #445161;
   }
.header-content{
    padding: 25px 0;
}
.header-content__flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   }

   @media (max-width: 1040px) {
    .header-content__flex-container {
        flex-direction: column-reverse;
        align-items: center;
        margin: 0 0 40px 0;
       }          
   }

.header-content__text {
    margin: 0 20px 0 0;
    max-width: 45%;
}

@media (max-width: 992px) {
    .header-content__text {
        margin: 0;
        max-width: 100%;
    }           
   }

.header-content__h1 {
    font-weight: normal;
    font-size: 60px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 0 0 40px 0;
}

.header-content__li{
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    list-style: none;
    margin: 0 0 10px 0;
    padding: 0 0 0 21px;
    background: url('../img/li.svg') 0 3px no-repeat;
}
.header-content__li:last-child{
    margin: 0;
}

.header-content__image {
    flex: 0 0 auto;
    height: 217px;
    width: 472px;
    background-color: #FFFFFF;
}
@media (max-width: 1040px) {
    .header-content__image {
        margin: 0 0 40px 0;
    }
   }
   @media (max-width: 520px) {
    .header-content__image {
       width: 100%;
    }
   }

.main {
    flex: 1 1 auto;
}

.about {
    padding: 50px 0;
}
@media (max-width: 1040px) {
    .about {
        padding: 50px 0;
    }       
   }
.about__content {
    display: flex;
    justify-content: space-between;
    }
    @media (max-width: 1040px) {
        .about__content {
            flex-direction: column-reverse;
            align-items: center;
            }
       }
.about__info {
    flex: 0 1 auto;
    margin: 0 96px 0 0;
}
@media (max-width: 1040px) {
    .about__info {
        margin: 0;
    }
   }
.about__title {
    margin: 0 0 17px 0;
}
.about__p {
    margin: 0 0 10px 0;
}
.about__p:last-child {
    margin: 0;
}
.title{
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #445161;
}
.text {
    font-size: 16px;
    line-height: 24px;
    color: #333333;
}
.about__video {
    flex: 0 0 430px;
    height: 245px;
    background-color:#445161;
}
@media (max-width: 1040px) {
    .about__video {
        margin: 0 0 30px 0;
        flex: 1 1 auto;
    }  
    }
    @media (max-width: 770px) {
        .about__video {
           width: 100%;
        }  
        }

.pluses {
    background-color: #F5F5F5;
    padding: 25px 0 50px 0;    
}

.pluses__title {
    text-align: center;
    margin: 0 0 22px 0;
}
.pluses__items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px 0 0;
}
.pluses__item {
    padding: 0 10px 26px 43px;
    flex: 0 1 50%;
    position: relative;
}

.pluses__item p{
    padding: 10px 0 0 40px;
   }
.plusse__summary{
    display: block;
    padding: 0 0 0 40px;    
}
.plusse__summary::before{
    content: '+';
    color: #FFFFFF;
    font-size: 34px;
    line-height: 32px;
    text-align: center;
    display: block;
    height: 35px;
    width: 35px;
    background-color: #445161;
    position: absolute;
    margin: 5px 0 0 -43px;
}
details[open] > summary:before {
    content: "-";
  }

@media (max-width: 770px) {
    .pluses__item{
        flex: 1 1 auto;
    }
    }

    .screenshots {
        padding: 25px 0 50px 0;    
    }
    .screenshots__title {
        text-align: center;
        margin: 0 0 40px 0;
    }
    .screenshots__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px 0 0;
    }
    .screenshots__item {
        padding: 0 20px 27px 0;
        flex: 0 1 50%; 
        display: flex;
    }
    @media (max-width: 770px) {
        .screenshots__item{
            flex-wrap: wrap;
        justify-content: center;        
        }
        }
    .screenshots__image {
        flex: 0 0 202px;
        height: 153px;
        background-color: #445161;
        margin: 0 15px 0 0;
    }
    @media (max-width: 770px) {
        .screenshots__image{
            margin: 0 0 20px 0;      
            }
        }
    
    .screenshots__title-items {
        font-weight: normal;
        font-size: 24px;
        line-height: 30px;
        margin: 0 0 15px 0;
    }
    @media (max-width: 1030px) {
        .screenshots__item{
            flex: 1 1 auto;
        }
        }

        .reviews {
            background-color: #F5F5F5;
            padding: 25px 0 45px 0;            
        }
                
        .reviews__title {
            text-align: center;
            margin: 0 0 30px 0;
        }
        
        .reviews__items {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -20px 0 0;
        }
        
        .reviews__item {
            padding: 0 20px 20px 0;
            flex: 0 1 50%; 
            display: flex;
        }
        @media (max-width: 1030px) {
            .reviews__item{
                flex: 1 1 auto;
            }
            }
        .reviews__image {
            flex: 0 0 auto;
            width: 66px;
            height: 66px;
            border-radius: 50%;
            background-color: #445161;
            margin: 0 3px 0 0;
        }
        .reviews__triangle{
            margin: 38px 0 0 0;
        }
        #triangle {
            width: 0;
            height: 0;
            border-top: 15px solid transparent;
            border-right: 24px solid #EBEBEB;
            border-bottom: 15px solid transparent;
            
        }
        .reviews__background {
            background: #EBEBEB;
            border-radius: 5px;
        }
        .reviews__text {
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #000000;
            margin: 16px 10px 7px 15px;
        }
        .reviews__sign {
            font-family: Roboto;
            font-style: italic;
            font-weight: normal;
            font-size: 14px;
            line-height: 18px;
            color: #989898;
            margin: 0 0 5px 15px;
        }

        .buy {
            padding: 45px 0 35px 0;    
        }
        .buy__title{
            text-align: center;
            margin: 0 0 26px 0;
        }
        .buy__content {
            max-width: 990px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .buy__items {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;            
        }
        @media (max-width: 880px) {
            .buy__items{
                flex-direction: column;
                align-items: center;
            }
            }
        
        .buy__item {
            background-color: #445162;
            border-radius: 3px;
            border: #445162 solid 4px;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 0 10px 0 0;
        }
        .buy__item:last-child {
             margin: 0;
        }
        @media (max-width: 880px) {
            .buy__item{
                margin: 0 0 20px 0;

            }
            }
        
        .buy__title-items {
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 30px;
            color: #FFFFFF;
            text-align: center;
            margin: 13px 0 10px 0;
        }
        .buy__price {
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 30px;
            color: #445162;
            background-color: #FFFFFF;
            text-align: center;
            padding: 25px 0 16px 0;
            width: 100%;
        }
        .buy__list {
            font-size: 14px;
            line-height: 24px;
            color: #FFFFFF;
            list-style-position: inside;
            margin: 10px 20px 16px 20px;
        }
        .buy__button {
            background-color: #FFFFFF;
            padding: 16px 112px;
            font-style: normal;
            font-size: 18px;
            font-weight: bold;
            line-height: 18px;
            color: #445161;
            display: inline-block;
            border-radius: 2px;
            cursor: pointer;
            max-width: 262px;
            height: 43px;
            width: 100%;
            margin: 0 0 14px 0;            
        }

        .contacts {
            background-color: #445162;
            padding: 25px 0 48px;
        }
        .contacts__content {
            max-width: 800px;
            margin: 0 auto;
            padding: 0 20px;
        }
        .contacts__title {
            text-align: center;
            color: #FFFFFF;
            margin: 0 0 45px 0;
        }
        
        .contacts__items {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .contacts__form {
            max-width: 503px;
            margin: 0 50px 0 0;
        }
        @media (max-width: 800px) {
            .contacts__form{
                margin: 0 0 30px 0;

            }
            }
        .contacts__form input, textarea {
            width: 100%;
            background-color: #FFFFFF;
            min-height: 43px;
            margin: 0 0 18px 0;
            border-radius: 4px;
            padding: 12px;
            font-family: Arial;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;           
            color: #445162;
        }
        
        .contacts__button{
            max-width: 143px;
            text-transform: uppercase;
            font-weight: bold;
            cursor: pointer;
            margin: 0 !important;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .contacts__cont-list{
            margin: 0 0 48px 0;  
        }
        .contacts__cont-list p{
            margin: 0 0 20px 0;            
        }
        
        .skype {
            color:#FFFFFF;
            background: url('../img/skype-icon.svg') 0 3px no-repeat;
            padding: 0 0 0 25px;
        }
        .icq {
            color:#FFFFFF;
            background: url('../img/icq-icon.svg') 0 3px no-repeat;
            padding: 0 0 0 25px;
        }
        .email {
            color:#FFFFFF;
            background: url('../img/email-icon.svg') 0 3px no-repeat;
            padding: 0 0 0 25px;
        }
        .tel {
            color:#FFFFFF;
            background: url('../img/tel-icon.svg') 0 3px no-repeat;
            padding: 0 0 0 25px;
        }
        .contacts__social-networks a{
            text-decoration: none;
        }

.footer {
    height: 49px;
    border-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-text{
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.3px;
    color: #445162;
}
